body{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#explanation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    max-width: 1000px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border-top:1px solid;
}
.explanation-cont{
    width: 90%;
    margin: 0 auto;
}
.explanation-cont h1, .explanation-cont h2{
    text-align: center;
    padding: 20px;
}
.explanation-cont h2{
    padding-bottom: 10px;
}
.explanation-cont p{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    font-family: "Georgia";
    line-height: 21px;
}
.unclear-div{
    display: flex;
    align-items: center;
}
.unclear-div img{
    width: 60px;
    padding-right: 34px;
}
#civ-conts{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.civ-cont{
    width: 100px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #999;
    user-select: none;
}
.civ-cont:hover{
    background-color: #BF7812;
}
.selected-civ{
    background-color: #BF7812;
}
.civ-cont img{
    width: 50%;
    height: auto;
}
.civ-cont{
    font-family: "Georgia";
}
.update-num{
    float: right;
}
#civ-info{
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1300px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border-top:1px solid;
}

#civ-ranks-cont{
    display:flex;
    justify-content: center;
    width: 70%;
    padding: 1em;
    border-right: 1px dashed;
}
#civ-ranks{
    width:80%;
}
#civ-techs-cont{
    width: 30%;
    height: 100%;
}
#civ-bonuses{
    margin: 1em;
}
.header{
    font-size: 20px;
    font-family: "Arial";
}
#civ-bonuses p{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    font-family: "Georgia";
    line-height: 22px;
}
#civ-available-techs{
    margin: 1em;
}
#civ-available-techs > img{
    width: 60px;
}
.desc-cont{
    display: flex;
    justify-content: center;
    margin-top: 0.35em;
    margin-bottom: 0.7em;
}
.desc-img{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.desc-img img{
    width: 45px;
}
.upgrade-locked{
    filter: brightness(50%);
}

#ages{
    display: flex;
    text-align: center;
    align-items: center;
}
#tree{
    
}
.ages-row, .row{
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.age-spacer, .building{
    width: 20%;
}
.building{
    display: flex;
    align-items: center;
    justify-content: center;
}
.building div:first-child{
    width:95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.building-rank{
    width:5%;
    font-size: 18px;
    font-family: Consolas, Geneva, sans-serif;
    display: flex;
    justify-content: center;
}
.unit-row{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.ages-cont, .unit-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ages-cont:nth-child(even), .unit-div:nth-child(even){
    margin-top: 4px;
    margin-bottom: 4px;
}
.ages-cont{
    width: 80%;
}
.ages-cont-spacer, .unit{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.age, .rank{
    width: 18%;
    font-size: 18px;
    font-family: Consolas, Geneva, sans-serif;
}
.rank{
    display: flex;
    justify-content: center;
}

.age img, .building img, .unit img, .age-spacer img, .ages-cont img{
    width: 45px;
}
.ages-row, .row{
    padding-top: 5px;
    padding-bottom: 5px;
}
#civ-title-cont{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
#civ-title-spacer, #civ-title, #civ-emblem{
    width: 33.33%;
}
#civ-emblem{
    display: flex;
    justify-content: center;
}
#civ-emblem img{
    width: 80px;
    margin-right: 15px;
}
#civ-title{
    font-family: "Verdana Black";
    font-size: 26pt;
}

.high-rank{
    background-color: gold;
}
.low-rank{
    background-color: #CD5C5C;
}

@media print{
    @page { size: auto;  margin: 0mm; }
    body{
        background-image: none;
    }
    #civ-conts, #footer, #download-pdf{
        display:none;
    }
    #civ-title-cont{
        margin-bottom: 10px;
    }
    #civ-info, #explanation{
        width: 100%;
        border-radius: 0px;
        background: none;
    }
    #explanation{
        border: none;
        width: 89%;
    }
    .explanation-cont p{
        font-size: 14px;
    }
    #civ-ranks-cont{
        width: 60%;
    }
    #civ-techs{
        width: 40%;
    }
    #civ-ranks{
        width: 100%;
    }
    .small-img{
        width: 40px !important;
    }
    .x-small-img{
        width: 34.5px !important;
    }
    .xa-small-img{
        width: 32.5px !important;
    }
    .xx-small-img{
        width: 31px !important;
    }
    .xxx-small-img{
        width: 30px !important;
    }
    .desc-img img{
        width: 40px;
    }
    .desc-img{
        margin-left: 4px;
        margin-right: 4px;
    }
    .header{
        font-size: 16px;
    }
    #civ-bonuses p{
        font-size: 15px;
    }
    .small-desc-text{
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .x-small-desc-text{
        font-size: 12px !important;
        line-height: 16px !important;
    }
    .xx-small-desc-text{
        font-size: 11px !important;
        line-height: 15px !important;
    }
    .xxx-small-desc-text{
        font-size: 10px !important;
        line-height: 14px !important;
    }
    
    #civ-bonuses, #civ-available-techs{
        width: 100%;
    }
    #civ-emblem{
        justify-content: flex-end;
    }
}
@media screen and (max-width: 1367px) {
    #civ-ranks-cont{
        width: 100%;
        padding:0;
        margin-bottom:1em;
        border:none;
        border-bottom: 1px dashed;
    }
    #civ-info{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    #civ-techs-cont{
        width: 100%;
    }
    #civ-available-techs{
        margin: 0 auto;
        max-width: 300px;
    }
    #civ-bonuses{
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1368px){
    .xx-small-desc-text{
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .xxx-small-desc-text{
        font-size: 14px !important;
        line-height: 18px !important;
    }
}
@media screen{
    #explanation{
        padding-bottom: 30px;
    }
    .hovered-unit{
        cursor: pointer;
    }
    .upgrades-div{
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .relative-upgrades{
        background: rgba(0, 0, 0, 0.7);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .relevant-img{
        width: 45px;
        display: flex;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }
    .relevant-img img{
        width: 100%;
    }
}
