body{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#civ-conts{
    width:90%;
    display: flex;
    flex-wrap: wrap;
}
.civ-cont{
    width: 100px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #999;
    user-select: none;
}
.civ-cont:hover{
    background-color: #BF7812;
}
.selected-civ{
    background-color: #BF7812;
}
.civ-cont img{
    width: 50%;
    height: auto;
}
#civ-info{
    display: flex;
    justify-content: center;
    width: 80%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border-top:1px solid;
}

#civ-ranks-cont{
    display:flex;
    justify-content: center;
    width: 70%;
    padding: 1em;
    border-right: 1px dashed;
}
#civ-ranks{
    width:80%;
}
#civ-techs{
    width: 30%;
    height: 100%;
}
#civ-bonuses{
    margin: 1em;
}
.header{
    font-size: 20px;
    font-family: "Arial";
}
#civ-bonuses p{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    font-family: "Georgia";
    line-height: 22px;
}
#civ-available-techs{
    margin: 1em;
}
#civ-available-techs > img{
    width: 60px;
}
.desc-cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.desc-img{
    display: flex;
    text-align: center;
    align-items: center;
}
.desc-img img{
    width: 45px;
}

#ages{
    display: flex;
    text-align: center;
    align-items: center;
}
#tree{
    
}
.ages-row, .row{
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.age-spacer, .building{
    width: 20%;
}
.building{
    display: flex;
    align-items: center;
    justify-content: center;
}
.building div:first-child{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.building div:last-child{
    width:20%;
}
.unit-row{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.ages-cont, .unit-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ages-cont:nth-child(2), .unit-div:nth-child(2){
    margin-top: 2px;
    margin-bottom: 2px;
}
.ages-cont{
    width: 80%;
}
.ages-cont-spacer, .unit{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.age, .rank{
    width: 18%;
    font-family: Verdana, Geneva, sans-serif;
}

.age img, .building img, .unit img, .age-spacer img, .ages-cont img{
    width: 45px;
}
.ages-row, .row{
    padding-top: 5px;
    padding-bottom: 5px;
}
#civ-title-cont{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
#civ-title-spacer, #civ-title, #civ-emblem{
    width: 33.33%;
}
#civ-emblem{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
#civ-emblem img{
    width: 80px;
}
#civ-title{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 26pt;
}
@media print{
    @page { size: auto;  margin: 0mm; }
    #civ-conts{
        display:none;
    }
    #civ-title-cont{
        margin-bottom: 10px;
    }
    #civ-info{
        width: 95%;
        border-radius: 0px;
    }
    #civ-ranks-cont{
        width: 60%;
    }
    #civ-techs{
        width: 40%;
    }
    #civ-ranks{
        width: 100%;
    }
    .small-img{
        width: 40px !important;
    }
    .x-small-img{
        width: 35px !important;
    }
    
    .header{
        font-size: 16px;
    }
    #civ-bonuses p{
        font-size: 12px;
    }
    
}
@media screen and (max-width: 1367px) {
    #civ-ranks-cont{
        width: 100%;
        padding-bottom:1em;
        border:none;
        border-bottom: 1px dashed;
    }
    #civ-info{
        align-items: center;
        flex-direction: column;
    }
    #civ-techs{
        width: 100%;
    }
        

}
    
