body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 105% 105%;
    background-position: center;
    margin: 0;
}

.icon{
    width: auto;
    height: 60px;
    cursor: pointer;
}
.icon-big{
    width: 80px;
    height: 84px;
    cursor: pointer;
}
#footer {
    display: inline;
    text-align: center;
    padding: 5px; 
    width: 50%;
}

.navbar {
    background-color:rgba(255, 255, 255, 0.65);
    box-shadow: 5px 5px 15px 5px #444;
}
.navbar-wrapper {
    display:flex;
    margin:auto;
    max-width: 1400px;
}

.navbar-wrapper>.nav-title {
    flex:1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin:auto;
}

@media only screen and (min-width: 768px) {
    .navbar-wrapper>.nav-title {
        padding-left:100px; /* to make up for nav-item-size / center header */
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-wrapper>.nav-title {
        font-size:1.5em;
    }
}

.navbar-wrapper>.nav-item {
    width: 100px;
    border-left:1px solid rgb(68,68,68);
    border-right:1px solid rgb(68,68,68);
    background-color: rgba(68,68,68, 0.3);
}

.nav-item > .item-wrapper  {
    margin:auto;
    height:100%;
}
.nav-item > .item-wrapper > .item-icon{
    display:block;
    margin:auto;
    width:50px;
}

.nav-item > .item-wrapper > .item-label{
    display:block;
    margin:auto;
    text-align:center;
}
