body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 105% 105%;
    background-position: center;
}


.icon{
    width: auto;
    height: 60px;
    cursor: pointer;
}
.icon-big{
    width: 80px;
    height: 84px;
    cursor: pointer;
}
#footer {
    text-align: center;
    padding: 5px; 
}