.card{
    font-family: courier new;
    font-size:18px;
    font-weight: bold;
    margin:10px;
    width:300px;
    border: 2px solid black;
    border-radius: 5px;
    background-image: linear-gradient(#C71400, #FFB0A9);
}
.card-top{
    padding:10px;
    display:flex;
}
#unit-select{
    display: block;
    margin: 0 auto;
}
.unit-basic-info{

}
.unit-basic-info-top{
    display:flex;
}
.unit-img img{
    margin:5px;
}
.unit-cost-cont{
    margin:5px;
}
.unit-cost-cont > div{
    margin:5px;
    display:flex;
}
.unit-basic-info-bottom{

}
.res-per-minute-cont > div{
    margin:5px;
    display:flex;

}
.unit-upgrade{
    padding:10px;
    border-left: 2px solid black;
}
.unit-upgrade-img img{
    width:60px;
    height:auto;
}
.unit-upgrade-cost-cont{

}
.unit-upgrade-cost-cont > div{
    margin:5px;
    display:flex;
}
.card-middle{
    padding:10px;
    display:flex;
    flex-wrap: wrap;
}
.unit-upgrades{
    display:flex;
    flex-wrap: wrap;
}
.upgrades{
    display:flex;
    flex-wrap: wrap;
}
.upgrades div{
    display:flex;
    flex-wrap: wrap;
}
.upgrade-group{
    width:100%;
}


.up-img{
    cursor:pointer;
    width:50px;
    height:50px;
    padding:5px;
}
.up-img img{
    width:100%;
    height:100%;
}
.selected{

}
.unselected{
    filter: brightness(50%);
}

.card-bottom{

}

.icon-legend{
    font-family: courier new;
    font-size:18px;
    font-weight: bold;
    width:750px;
    padding:25px;
}
.legend-title{
    font-size: 40px !important;
}

.unit-stats{
    background-color: rgba(0, 0, 0, 0.1);
}
.unit-stats div, .icon-legend div{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
}
.unit-stats > div > div{
    width:75px;
    height:40px;
    margin:5px;
}
.icon-legend > div > div {
    justify-content: flex-start;
    width:150px;
    height:40px;
    margin:5px;
}
.unit-stats > div:last-child > div, .icon-legend > div:last-child > div{
    width:315px;
    height:40px;
    margin:5px;
}
.legent-mvt{
    width: 315px !important;
}
.unit-stats > div > div > img, .icon-legend > div > div > img{
    width:25px;
    height:25px;
}
.unit-stats > div > div > div, .icon-legend > div > div > div{
    margin-left:5px;
}
.armor-classes{
    margin:10px;
}
.attack-bonuses{
    margin:10px;
    display:flex;
    flex-wrap:wrap;
}
.attack-bonuses div:nth-child(odd){
    width:25%;
}
.attack-bonuses div:nth-child(even){
    width:75%;
}

.category-title{
    font-size:20px;
    font-family: georgia;
    margin:10px;
}