<html>
  <head>
    <title>AOE2: DE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/villagers-required.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui-dist/jquery-ui.min.js" integrity="sha384-PtTRqvDhycIBU6x1wwIqnbDo8adeWIWP3AHmnrvccafo35E7oIvW7HPXn2YimvWu" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <script src="/villagers-required.js" type="module" ></script> -->
    <script src="/villagers-required2.js" type="module" ></script>
  </head>
  <body>
    <div id="container">
      <h1>Number of Villagers Required to Sustain Constant Unit Production</h1>
      <div id="toolbar">
        <h2>Choose economic bonuses</h2>
        <div id="econ-civ-bonus">
          <select id="econ-civ-select" name="civ bonuses">
            {% for name, value in ecoBonuses.civ %}
              <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
          <div>
            {% for name, value in ecoBonuses.team %}
              <div>
                <div>
                  {{ name }}
                </div>
                <input type="checkbox" name="{{name}}" />
              </div>
            {% endfor %}
          </div>
        </div>
        <h2>Click to toggle resource display</h2>
        <div id="choose-res">
          {% for orderItem in order %}
            {% for item in orderItem %}
              {% set capacity = ["carry-capacity=", gatherRates[item.name].carryCapacity] | join %}
              <div class='res-show-img {{ "showing-img" if item.show }}' resource='{{item.name}}' title='{{item.name}}' res-per-sec="{{gatherRates[item.name].gatherRate}}" res-type="{{gatherRates[item.name].res}}" {{capacity if gatherRates[item.name].carryCapacity }}>
                <img src='/img/{{gatherRates[item.name].img or item.name }}.png' class='icon-big'>
                <div sec='{{gatherRates[item.name].gatherRate}}' min='{{gatherRates[item.name].gatherRate * 60}}'>{{(gatherRates[item.name].gatherRate).toFixed(2)}} - {{(gatherRates[item.name].gatherRate * 60).toFixed(1)}}</div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
        <h2>Click to toggle unit display</h2>
        <div id="choose-units">
          {% for unit in unitsShow %}
            {% for dataUnit in dataset.units %}
              {% if dataUnit.name == unit %}
                <!-- <p>{{dataUnit | dump}}</p> -->
                {% set food = ['x-food=', dataUnit.cost.food ] | join %}
                {% set wood = ['x-wood=', dataUnit.cost.wood] | join %}
                {% set gold = ['x-gold=', dataUnit.cost.gold] | join %}
                {% set stone = ['x-stone=', dataUnit.cost.stone] | join %}
                <div class='unit-show-img' unit='{{unit}}' title='{{unit}}' x-train-time='{{dataUnit.trainTime}}' {{ food if dataUnit.cost.food }}  {{ wood if dataUnit.cost.wood }} {{ gold if dataUnit.cost.gold }} {{ stone if dataUnit.cost.stone }}>
                  <img src="/img/{{unit}}.png" alt="{{unit}}" />
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
        <div id="vil-totals">
          <h2>Villager totals for all unit selections</h2>
          <div class="res-totals">
            <div id="resources-cont-box" class="resources-cont">
              <template id="t-res-row">
                <div class="res-row">
                </div>
              </template>
              <template id="t-res-row-resource">
                <div class="resource" resource="[[name]]" style="[[visible]]" >
                  <img class="icon-big" [[src]] alt="[[name]]" />
                  <div class="resource-num" title="[[value]]">
                    <div>
                      [[valueCeiling]]
                    </div>
                  </div>
                </div>
              </template>

              <template id="t-unit-class">
                <div class="unit-class" x-unit="[[name]]">
                  <div class="resource-num" title="[[value]]x [[name]]">
                    <div>
                      [[value]]
                    </div>
                  </div>
                  <img [[src]] alt="[[name]]" />
                </div>
              </template>

            </div>

            <div id="unit-totals-box" class="unit-totals">
            </div>
          </div>
          <div id="gather-rates-id" class="gather-rates">
            <template id="t-gather-rates-item">
              <div class="unit-container" title="[[name]]" x-unit="[[name]]">
                <div class="unit">
                  [[resources]]
                  <div class="time-cont">
                    <img src="/img/hourglass-icon.png">
                    <div>[[timeCreation]]</div>
                  </div>
                  <div class="unit-class"><img [[src]] title="[[name]]"></div>
                </div>
                <div class="res-desc-cont">
                  <div class="resource-cont">
                    [[resourcesUnit]]
                  </div>
                  <div class="upgrades-cont">
                  </div>
                </div>
              </div>
            </template>
            <template id="t-gather-rates-item-upgrades-checkbox">
              <div>
                <div>
                  [[upgradeTech]]
                </div>
                <input type="checkbox" x-upgrade-unit="[[upgradeTech]]" x-train-time="[[trainTime]]" x-train-time-percent="[[trainTimePercent]]" [[cost]]/>
              </div>
            </template>
          </div>
        </div>
        
        <div id="faq">
          <h2>Frequently Asked Questions</h2>
          <div id="questions">
            <div class="faq-card">
              <div class="card-wrapper">
                <div class="card-header">
                  <div class="header-left">
                    <img src="/img/up-arrow.png" class="small-photo">
                    <img src="/img/feudal age.png" class="medium-photo">
                  </div>
                  <div class="header-right">
                    <div class="header-question">How many resources do my villagers collect on the way up to Feudal Age?</div>
                    <div class="header-subtitle">Time: 130 seconds</div>
                  </div>
                </div>
                <div class="card-content">
                  <table class="card-table">
                    <thead>
                      <tr>
                        <th>Resource</th>
                        <th>Per Villager</th>
                        <th>Rate / Sec</th>
                      </tr>
                    </thead>
                    <tr>
                      <th>Woodcutter</th>
                      <td>53.3</td>
                      <td>.41</td>
                    </tr>
                    <tr>
                      <th>Farmer</th>
                      <td>44.2</td>
                      <td>.34</td>
                    </tr>
                    <tr>
                      <th>Berries</th>
                      <td>40.3</td>
                      <td>.31</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="faq-card">
              <div class="card-wrapper">
                <div class="card-header">
                  <div class="header-left">
                    <img src="/img/up-arrow.png" class="small-photo">
                    <img src="/img/castle age.png" class="medium-photo">
                  </div>
                  <div class="header-right">
                    <div class="header-question">How many resources do my villagers collect on the way up to Castle Age?</div>
                    <div class="header-subtitle">Time: 160 seconds</div>
                  </div>
                </div>
                <div class="card-content">
                  <table class="card-table">
                    <thead>
                      <tr>
                        <th>Resource</th>
                        <th>Per Villager</th>
                        <th>Feudal Upgrade</th>
                        <th>Upgrade Rate / Sec</th>
                      </tr>
                    </thead>
                    <tr>
                      <th>Woodcutter</th>
                      <td>65.6</td>
                      <td>78.4</td>
                      <td>.49</td>
                    </tr>
                    <tr>
                      <th>Farmer</th>
                      <td>54.4</td>
                      <td>60.8</td>
                      <td>.34</td>
                    </tr>
                    <tr>
                      <th>Gold Miner</th>
                      <td>60.8</td>
                      <td>70.4</td>
                      <td>.44</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="faq-card">
              <div class="card-wrapper">
                <div class="card-header">
                  <div class="header-left">
                    <img src="/img/farmer.png" class="medium-photo">
                    <img src="/img/lumber camp.png" class="medium-photo">
                  </div>
                  <div class="header-right">
                    <div class="header-question">How many farms can a woodcutter reseed after they've depleted?</div>
                    <div class="header-subtitle">DONT-WORRYBOUT-IT</div>
                  </div>
                </div>
                <div class="card-content">
                  <table class="card-table">
                    <thead>
                      <tr>
                        <th>Resource Upgrades</th>
                        <th>No Farm Upgrades</th>
                        <th>Feudal Upgrades</th>
                        <th>Castle Upgrades</th>
                        <th>Crop Rotation (Imp)</th>
                      </tr>
                    </thead>
                    <tr>
                      <th>No Wood Upgrade</th>
                      <td class="light-green-background">3.432</td>
                      <td>4.277</td>
                      <td>5.968</td>
                      <td>8.753</td>
                    </tr>
                    <tr>
                      <th>Double-Bit Axe (Feudal)</th>
                      <td>4.110</td>
                      <td class="light-green-background">5.121</td>
                      <td>7.147</td>
                      <td>10.482</td>
                    </tr>
                    <tr>
                      <th>Bow Saw (Castle)</th>
                      <td>4.935</td>
                      <td>6.149</td>
                      <td class="light-green-background">8.581</td>
                      <td>12.585</td>
                    </tr>
                    <tr>
                      <th>Two-Man Saw (Imp)</th>
                      <td>5.436</td>
                      <td>6.773</td>
                      <td>9.452</td>
                      <td class="light-green-background">13.863</td>
                    </tr>
                  </table>
                  <div class="card-copy">
                    <p>Since farms take so long to deplete, you'll be spending wood income on other things
                      in the meantime, so there's no reason to set aside wood to eventually use to
                      reseed farms. The number of villagers on wood per farm ranges from
                      0.333 (1 wood villager /3 farms) to 0.077 (1 wood villager /13 farms).
                      These numbers are so small that you wouldn't realistically keep track of
                      them in an actual game.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="footer">
          <div>
            <div>This app built by <a href="https://www.youtube.com/channel/UCmFJUeU8Oubp5Neldbq0JRA" target = "_blank">Survivalist</a></div>
          </div>
        </div>
  </body>
</html>
